 <nav>
        
                
                <a href="/"><span class="logo"><img src="/images/Frame3.jpg" alt="" srcset=""></span></a>
           
            
            <div class="nav-links-con">
                <ul>
                    <li> <a href="/" class="active-link" onclick="ovfh()">Home</a> </li>
                    
                    {{#if token}}
                    
                    <li><a href="/contact-us" onclick="ovfh()" >Contact Us</a> </li>
                    <li><a href="/suggest-a-feature" onclick="ovfh()">Suggest a feature</a></li>
                    <li><a href="/complaints" onclick="ovfh()">Raise a complaint</a></li>
                    <li><a href="/logout" onclick="ovfh()">Logout</a></li>


                    

                    {{else}}
                    <li><a href="/login" onclick="ovfh()" >Log In</a> </li>
                    <li><a href="/signup" onclick="ovfh()" >Sign Up</a> </li>
                    <li><a href="/contact-us" onclick="ovfh()" >Contact Us</a> </li>
                    
                    
                    {{/if}}

                    {{#if owner}}
                    <li><button onclick="ovfh(); window.location.href='./business/profile'">Dashboard</button></li>
                    {{else}}
                    <li><button onclick="ovfh(); window.location.href='./business/register'">Register as a Restaurant</button></li>
                    {{/if}}
                </ul>
            </div>
            <div class="acc-det">

                 {{#if token}}
           
                <img class="prof-img" style="background-color:{{profileColor}} ;" src="{{profileImg}}" alt="" onclick="openProfileOptions()">
                <span onclick="openProfileOptions()">{{name}}</span>
                <i class="fas fa-caret-down" onclick="openProfileOptions()"></i>
                
                <div class="home-prof-div-con">
                    <ul>
                        
                        <li><a href="/myprofile">Profile</a></li>
                        <li><a href="/logout">Log Out</a></li>
                        
                       
                    </ul>
                </div>
            {{else}}
            
            {{!-- <button class="register-as-restaurant">Register as a Restaurant</button>
            <a href="/login">Log in/Sign up</a> --}}
            
            
            {{/if}}
            


                
            </div>
            <div class="burger">

           <i class="fas fa-bars bar" id="bars"></i>
           <i class="fas fa-times bar" id="cross"></i>
           </div>
        
    </nav>